header {
  background-color: #ffffff;
  border-bottom: 1px solid #ececec;
  @include mq(mobile-only) {
    padding: 10px 0;
  }
}
.nav-container {
  display: flex;
  align-items: center;
}
.nav-subcontainer {
  display: flex;
  align-items: center;
}
.logo {
  margin-right: 93px;
  color: var(--primary-text-color);
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.second {
  color: white;
}
span {
  color: var(--accent-color);
}
.site-nav {
  display: none;
  @include mq(tablet) {
    display: flex;
    padding: 0;
  }
}
.site-nav li {
  display: block;
  margin-right: 50px;
}
.site-nav li:last-child {
  margin-right: 0;
}
.auth-nav li {
  margin-right: 50px;
  &:last-child {
    margin-right: 0;
  }
}
.site-nav .link {
  display: block;
  font-weight: 500;
  line-height: 1, 14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  padding: 32px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent-color);
    fill: var(--accent-color);
  }
}
.curent {
  color: var(--accent-color);
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &::after {
    position: absolute;
    left: 0;
    bottom: 0;
    content: "";
    width: 100%;
    height: 4px;
    display: block;
    text-decoration: overline;
    background-color: var(--accent-color);
    border-radius: 2px;
  }
}

.auth-nav {
  display: none;
  @include mq(tablet) {
    display: flex;
    margin-left: auto;
    padding: 0;
    align-items: center;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.auth-nav .link {
  display: flex;
  align-items: center;
  color: var(--title-text-color);
  font-weight: 500;
  line-height: 1, 14;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
.icon-auth-nav {
  width: 16px;
  height: 12px;
  fill: currentColor;
  margin-right: 10px;
}
.icon-sec-auth-nav {
  width: 10px;
  height: 16px;
  fill: currentColor;
  margin-right: 10px;
}
.header__button {
  background-color: transparent;
  border: none;
  @include mq(tablet) {
    display: none;
  }
}
.contacts {
  &__item {
    display: flex;

    @include mq(tablet-only) {
      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }

    @include mq(desktop) {
      &:not(:last-child) {
        margin-right: 30px;
      }
    }
  }
  &__svg {
    fill: currentColor;
    margin-right: 10px;
  }
  &__link {
    color: var(--silvercolor);
    text-decoration: none;
    display: flex;
    align-items: center;
    /* animation */
    transition: color var(--animation);
  }
}
